.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
    min-height: 400px;
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }
  
  .about-text {
    flex: 1;
    text-align: left ;
    padding-right: 2rem; 
  }
  
  .about-photo {
    flex:1;
    text-align: right; 
  }
  
  .about-photo img {
    max-width: 80%;
    height: auto;
    border-radius: 10px; 
  }
  